/* main.scss */

@import 'variables';
@import 'mixins';


.flash-carousel {
  &, .border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &, .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &, .bounding-box {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  position: relative;
  min-height: $carousel-height;
  background-color: $carousel-bg-color;


  @include keyframes(rotate) {
    0% { @include transform(rotate(0))}
    100% { @include transform(rotate(360deg)) }
  }

  &--loading {
    @include animation('rotate .5s linear infinite');
    @include transition(opacity .3s);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    &-path {
      fill: #FFF;
      visibility: visible;
    }
  }

  &--slides {
    @extend .bounding-box;
    @include transition(all ease-in-out $slides-show-duration);

    position: relative;
    z-index: 0;
    opacity: 1;

    &.hide {
      @include transition(all ease-in-out $slides-fade-duration);
      opacity: 0
    }
  }

  &--slides.hide &--slide {
    /*@include transition(all ease-in-out 0);*/
  }

  &--slide {
    @extend .border-box;
    @extend .bounding-box;
    @include transition(all ease-in-out $slide-duration);

    position: absolute;
    
    img {
      @include transform(translate(-50%, -50%));

      position: relative;
      top: 50%;
      left: 50%;


      &.height-based {
        height: 100% !important;
        width: auto !important;
      }

      &.width-based {
        height: auto !important;
        width: 100% !important;
      }
    }
  }


  /* == Navigation */

  &--nav {
    position: absolute;
    height: 100%;
    width: 30%;
    top: 0;
    cursor: pointer;
  }

  &--arrow {
    @include border-radius($arrow-size);
    @include transition(all ease-in-out $arrow-duration);
    overflow: hidden;
    width: $arrow-size;
    height: $arrow-size;
    position: absolute;
    top: calc(50% - #{$arrow-size/2});
    background-color: $arrow-bg-color-1;

    &:before {
      content: "";
      display: inline-block;
      width: $arrow-size;    
      height: $arrow-size;    
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
    }
  }

  &--nav-left {
    @extend .flash-carousel--nav;
    left: 0;

    &-arrow {
      @extend .flash-carousel--arrow;

      left: - $arrow-size - $arrow-margin;

      &:before {
        background-image: $left-bg;
      }
    }

    &:hover &-arrow {
      background-color: $arrow-bg-color-2;
    }
  }

  &:hover &--nav-left {
    &-arrow {
      left: $arrow-margin;
    }
  }

  &--nav-right {
    @extend .flash-carousel--nav;
    right: 0;

    &-arrow {
      @extend .flash-carousel--arrow;

      right: - $arrow-size - $arrow-margin;

      &:before {
        background-image: $right-bg;
      }
    }

    &:hover &-arrow {
      background-color: $arrow-bg-color-2;
    }
  }

  &:hover &--nav-right {
    &-arrow {
      right: $arrow-margin;
    }
  }


  /* == Pagination */
  &--dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
  }

  &--dot {
    @include border-radius(10px);

    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgba(37,37,37,0.6);
    border: solid 1px rgba(240,240,240,0.6);
    cursor: pointer;
    &.active, &:hover {
      background-color: #FFF;
      border: solid 1px rgba(37,37,37,0.6);

    }
  }


}